@{
    ViewBag.Title = "Home Page";
}

<h1 style="font-family:monospace"><font color="purple"><b>Diamond Airlines</b></font></h1>


<p style="float: left; clear: left"><img src="~/Images/airplane.jpg" height="260px" width="360px" style="padding-right:50px"></p>


<p>
    <h2>Flight Booking Management System</h2>
    <br>
    This website manages flight bookings for Diamond Airlines.
    The links above contain the relevant information. New records can be created. Existing records can be edited and deleted.
</p>
<br>
<ul style="margin-left:100px">
    <li><i>Customers link</i>: contains the list of customer names. The details tab for each customer lists the customer's bookings.</li> 
    <li><i>Flights link</i>: contains the list of flights with their corresponding flight number, departing location and destination.
    The details tab for each flight lists the customers who have booked that flight.</li> 
    <li><i>Bookings link</i>: contains the list of bookings with special meal information and seat numbers for each booking.</li>
</ul>

